/*
    Components: Row
    ---
    Creates a horizontal row with padding
*/

.c-row {
    @include padding-tb($beta-leading,0);
    @include padding-lr($columns-gutter,$columns-gutter);
}

.c-row--large {
    @include padding-tb($beta-leading*2,(($beta-leading*2) - $alpha-leading));

    @include mq(bp3) {
        @include padding-tb($beta-leading*3,(($beta-leading*3) - $alpha-leading));
    }
}

.c-row--header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    opacity: 0;
    transition: opacity .15s ease-in-out;

    &.is-sticky {
        opacity: 1;
    }
}

.c-row--full {
    height: 100vh;
    position: relative;
}

    .c-row__content {
        @include padding-lr($columns-gutter,$columns-gutter);

        .c-row--full & {
            position: absolute;
            left: 0;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
        }
    }

.c-row--alpha {
    background-color: palette(color-neutral,x-light);
}

.c-row--beta {
    position: relative;
    z-index: 2;
    color: palette(color-neutral,x-dark);
    background-color: tint(palette(color-alpha),85);
    border: 20px solid palette(color-neutral,x-light);

    & + .c-row--gamma,
    & + & {
        border-top: 0;
    }
}

.c-row--gamma {
    color: palette(color-neutral,x-dark);
    background-color: tint(palette(color-beta),85);
    border: 20px solid palette(color-neutral,x-light);

    & + .c-row--beta,
    & + & {
        border-top: 0;
    }
}
