/*
    Components: Brand
    ---
    Brand image/logo
*/

/**
 *  1. Needs to be the width of the logo you are using.
 *  2. Logo is set as background-image.
 *     Text-indent is set to prevent text from showing on top of the background-image.
 */

.c-logo {
    display: none;
    font-weight: bold;
    text-align: center;
    background-image: url('../img/svg/logo.svg');
    width: 134px;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-indent: -999999px;
    @include text-dimensions($ms2,1,0,1.25,1.25);
    opacity: .5;

    .is-active & {
        display: block;
    }
}

    .c-logo__link {
        display: block;
    }
