<div class="c-row c-row--header js-header">
        <div class="o-grid o-grid--gutter">
            <div class="o-grid__item u-1-of-3-bp3">
                {% include components.logo.html %}
            </div>
            <div class="o-grid__item u-2-of-3-bp3">
                <nav>
                    <ul class="o-list o-list--horizontal c-list-nav">
                        <li class="o-list__item c-list-nav__item">
                            <a href="#!" class="c-link-nav c-list-nav__item">Agenda</a>
                        </li>
                        <li class="o-list__item c-list-nav__item">
                            <a href="#!" class="c-link-nav">Praktisch</a>
                        </li>
                        <li class="o-list__item c-list-nav__item">
                            <a href="#!" class="c-link-nav">Partners</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
