<div class="c-row c-row--large js-four" id="partners">
    <div class="o-container o-container--sm c-relative">
        <div class="o-flex-alt o-flex-alt--center">
            {% for item in page.partners %}
            <div class="o-flex-alt__item u-1-of-2 u-1-of-3-bp4 u-text-center">
                <p>
                    <a href="{{ item.url }}" class="c-link-logo" style="background-image: url({{ item.image }})">{{ item.title }}</a>
                </p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<footer class="c-row c-row--large u-text-center">
    <div class="o-container c-relative">
        <div class="o-grid o-grid--gutter">
            <div class="o-grid__item u-4-of-6-bp3 u-push-1-of-6-bp3">
                <h4><a href="{{ site.footer.author-url }}" class="c-nerdlab">{{ site.footer.author }}</a></h4>
                <div class="c-editor">
                    {{ page.about.text | markdownify }}
                </div>
                <ul class="c-list-inline">
                    <li class="c-list-inline__item">
                        <a href="{{ site.footer.facebook-url }}" class="c-link">{% include atom.symbol.html value="facebook" %} Facebook</a>
                    </li>
                    <li class="c-list-inline__item">
                        <a href="{{ site.footer.twitter-url }}" class="c-link">{% include atom.symbol.html value="twitter" %} Twitter</a>
                    </li>
                    <li class="c-list-inline__item">
                        <a href="{{ site.footer.instagram-url }}" class="c-link">{% include atom.symbol.html value="instagram" %} Instagram</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
