<div class="c-row c-row--large js-two" id="agenda">
    <div class="o-container">
        <h2 class="c-subtitle">
            {{ page.agenda.title }}
        </h2>
        {% assign agenda = site.agenda | sort: 'position' %}
        {% for item in agenda %}
        <div class="o-grid o-grid--gutter-sm">
            <div class="o-grid__item u-3-of-5-bp3 u-push-1-of-5-bp3">
                <div class="c-card c-card--alpha" data-mh="agenda">
                    {% if item.image %}
                    <div class="c-card__image">
                        <img src="{{ item.image }}" alt="{{ item.title }}">
                    </div>
                    {% endif %}
                    <h3 class="c-title-card u-text-center">{{ item.title }}</h3>
                    {% if item.workshops %}
                    <p class="c-date-large u-text-center">{{ item.workshops }}</p>
                    {% endif %}
                    {{ item.content }}
                    {% if item.showoff %}
                    <p class="c-date-small u-text-center">{{ item.showoff }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
