<div class="c-row c-row--full js-hero" id="hero">
    <div class="o-grid c-illustration js-illustration u-text-center ">
        <div class="o-grid__item u-1-of-3 c-illustration__item-holder">
            <div class="c-illustration__item c-illustration__item--one js-illustration__one">
                <img src="img/png/eye.png" alt="">
            </div>
        </div>
    </div>
    <div class="o-grid c-graphic js-graphic u-text-center">
        <div class="o-grid__item u-1-of-5 c-graphic__item-holder">
            <div class="c-graphic__item c-graphic__item--one js-graphic__one">
                {% include s.svg %}
            </div>
        </div>
        <div class="o-grid__item u-1-of-5 c-graphic__item-holder">
            <div class="c-graphic__item c-graphic__item--two js-graphic__two">
                {% include t.svg %}
            </div>
        </div>
        <div class="o-grid__item u-1-of-5 c-graphic__item-holder">
            <div class="c-graphic__item c-graphic__item--three js-graphic__three">
                {% include o.svg %}
            </div>
        </div>
        <div class="o-grid__item u-1-of-5 c-graphic__item-holder">
            <div class="c-graphic__item c-graphic__item--four js-graphic__four">
                {% include o-alt.svg %}
            </div>
        </div>
        <div class="o-grid__item u-1-of-5 c-graphic__item-holder">
            <div class="c-graphic__item c-graphic__item--five js-graphic__five">
                {% include m.svg %}
            </div>
        </div>
    </div>
    <div class="c-row__content">
        <div class="o-grid o-grid--gutter">
            <div class="o-grid__item u-2-of-3-bp5 u-push-1-of-3-bp5">
                <h1 class="c-page-intro">
                    {{ page.header.intro }}
                </h1>
                <p><a href="#practical" class="c-button c-button--lg c-button--alpha js-smoothscroll">{{ page.header.button }}</a></p>
            </div>
        </div>
    </div>
</div>
