.c-images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
}

    .c-images__item {
        display: none;

        @include mq(bp4) {
            display: block;
            width: 40%;
            position: absolute;

            &:nth-child(odd) {
                right: -23%;
                top: -30%;
            }

            &:nth-child(even) {
                left: -23%;
                top: 45%;
            }
        }

        @include mq(bp5) {
            &:nth-child(odd) {
                right: -23%;
                top: -55%;
            }
        }
    }
