/*
    Components: Symbols
    ---
    https://css-tricks.com/svg-symbol-good-choice-icons/
*/

// Symbol
.c-symbol {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    position: relative;
    top: -.15ex;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    vertical-align: middle;
}
