/*
    Components: Navigation
    ---
    Site navigation, breadcrumbs, etc.
*/

.c-nav {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    display: none;

    @include mq(bp3) {
        display: flex;
        justify-content: space-between;
    }
}

    .c-nav__item {
        display: inline-block;
        text-align: center;

        @include mq(bp3) {
            display: inline-block;
            @include margin-lr(2);
        }

        @include mq(bp5) {
            display: inline-block;
            margin-left: 0;

            & + & {
                @include margin-top(0);
            }
        }
    }

    .c-nav__link {
        position: relative;
        display: inline-block;
        font-weight: 600;
        font-family: $alpha-font-family;
        @include text-dimensions($ms2,1.3,0,0);
        text-shadow: 0 2px 0 palette(color-neutral,x-light), -2px 0 0 palette(color-neutral,x-light), -2px 2px 0 palette(color-neutral,x-light), 2px 2px 0 palette(color-neutral,x-light);

        &,
        &:visited {
            color: palette(color-neutral,x-dark);
        }

        &:before {
            z-index: -1;
            content: '';
            position: absolute;
            left: 0;
            bottom: 5px;
            width: 100%;
            height: 2px;
            background-color: tint(palette(color-neutral,x-dark), 20);
        }

        &:hover,
        &:focus {
            text-decoration: none;
            outline: none;

            &:before {
                display: none;
            }
        }

        .c-color & {
            &,
            &:visited {
                color: palette(color-neutral,x-dark);
            }

            &:before {
                background-color: tint(palette(color-neutral,x-dark), 20);
            }
        }
    }
