/*
    Components: Row
    ---
    Creates a horizontal row with padding
*/

.c-row {
    @include padding-tb($beta-leading,0);
    @include padding-lr($beta-leading,$beta-leading);

    @include mq(bp5) {
        @include padding-tb($beta-leading*1.5,0);
        @include padding-lr($beta-leading*2,$beta-leading*2);
    }
}

    .c-row__item-center {
        @include mq(bp3) {
            position: absolute;
            width: 100%;
            text-align: center;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
    }

.c-row--large {
    @include padding-tb($beta-leading*2,(($beta-leading*2) - $alpha-leading));

    @include mq(bp3) {
        @include padding-tb($beta-leading*3,(($beta-leading*3) - 1.2));
    }
}

.c-row--header {

}

.c-row--full {
    @include padding-tb(2);
    position: relative;
    text-align: center;

    @include mq(bp3) {
        @include padding-tb(10,2);
    }

    @include mq(bp4) {
        @include padding-tb(10,10);
    }

    @include mq(bp5) {
        text-align: left;
    }
}

.c-row--alpha {
    background-color: palette(color-neutral,x-light);
}

.c-row--beta {
    position: relative;
    z-index: 2;
    color: palette(color-neutral,x-dark);
    background-color: tint(palette(color-alpha),70);
}

.c-row--neutral {
    position: relative;
    z-index: 2;
    color: palette(color-neutral,x-dark);
    background-color: tint($color-neutral,80);
    border: 20px solid palette(color-neutral,x-light);
    border-top: 0;

    @include padding-tb($beta-leading,$beta-leading/4);
    @include padding-lr($beta-leading,$beta-leading);

    @include mq(bp5) {
        @include padding-tb($beta-leading*1.5,$beta-leading/2);
    }
}

.c-row--gamma {
    color: palette(color-neutral,x-dark);
    background-color: tint(palette(color-beta),85);
    border: 20px solid palette(color-neutral,x-light);
}

.c-row--delta {
    position: relative;
    color: palette(color-neutral,x-dark);
}
