/*
    Components: Brand
    ---
    Brand image/logo
*/

/**
 *  1. Needs to be the width of the logo you are using.
 *  2. Logo is set as background-image.
 *     Text-indent is set to prevent text from showing on top of the background-image.
 */

.c-logo {
    font-weight: bold;
    text-align: center;
    background-image: url('../img/svg/logo.svg');
    width: 160px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    text-indent: -999999px;
    @include text-dimensions($ms3,1.3,0,0);
    margin-bottom: 0;

    @include mq(bp3) {
        margin-left: 0;
        margin-right: 0;
    }
}

    .c-logo__link {
        display: block;
    }

.c-nerdlab {
    display: block;
    font-weight: bold;
    text-align: center;
    background-image: url('../img/svg/nerdlab.svg');
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-indent: -999999px;
    @include text-dimensions($ms2,1,0,2,2);
}
