/*
    Components: Cards
    ---
    A card displays site content in a manner similar to a playing card.
*/

.c-card {
    @include padding-tb(1.5,1.5);
    @include padding-lr(1.5,1.5);
    @include margin-bottom(1);
}
    // Reset bottom margins on children to make equal paddings possible
    .c-card > *:last-child,
    .c-card > *:last-child > *:last-child,
    .c-card > *:last-child > *:last-child > *:last-child {
        margin-bottom: 0;
    }

.c-card--alpha {
    position: relative;
    border: 8px solid currentColor;
    z-index: 2;
}

    .c-card__image {
        position: absolute;
        z-index: -1;
        opacity: .2;
        width: 100%;
        left: 0;

        img {
            width: 100%;
        }
    }

.c-card--beta {
    position: relative;
    @include padding-tb(2,1.5);
    @include padding-lr(0,0);

    @include mq(bp3) {
        @include padding-tb(1,0);
        @include padding-lr(1.5,1.5);
    }
}

.c-card-divider {
    .c-color & + & {
        border-top: 4px dotted palette(color-neutral,light);
    }

    .c-color--alpha & + & {
        border-top: 4px dotted palette(color-beta,light);
    }

    .c-color--beta & + & {
        border-top: 4px dotted palette(color-alpha,light);
    }

    .c-color--gamma & + & {
        border-top: 4px dotted palette(color-neutral,light);
    }

    @include mq(bp3) {
        .c-color &  + & {
            border-left: 4px dotted palette(color-neutral,light);
            border-top: 0;
        }

        .c-color--alpha &  + & {
            border-left: 4px dotted palette(color-beta,light);
            border-top: 0;
        }

        .c-color--beta &  + & {
            border-left: 4px dotted palette(color-alpha,light);
            border-top: 0;
        }

        .c-color--gamma &  + & {
            border-left: 4px dotted palette(color-neutral,light);
            border-top: 0;
        }
    }
}
