/*
    Shame
    ---
    Hacks and quick fixes
*/

// Bring content to the front
.c-relative {
    position: relative;
    z-index: 1;
}

// Add a smaller container
.o-container--sm {
    max-width: map-get($breakpoints,bp3);
}
