/*
    Shame
    ---
    Hacks and quick fixes
*/

.c-relative {
    position: relative;
    z-index: 1;
}

.c-editor {
    a {
        position: relative;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background-color: palette(color-neutral,x-dark);
        }

        &,
        &:visited {
            color: palette(color-neutral,x-dark);
        }

        &:hover,
        &:focus {
            text-decoration: none;
            color: palette(color-neutral,x-dark);

            &:after {
                display: none;
            }
        }
    }

    .c-color & {
        a {
            &:after {
                background-color: palette(color-neutral,x-dark);
            }

            &,
            &:visited {
                color: palette(color-neutral,x-dark);
            }

            &:hover,
            &:focus {
                text-decoration: none;
                color: palette(color-neutral,x-dark);

                &:after {
                    display: none;
                }
            }
        }
    }

    .c-color--alpha & {
        a {
            &:after {
                background-color: palette(color-beta,dark);
            }

            &,
            &:visited {
                color: palette(color-beta,dark);
            }

            &:hover,
            &:focus {
                text-decoration: none;
                color: palette(color-beta,dark);

                &:after {
                    display: none;
                }
            }
        }
    }

    .c-color--beta & {
        a {
            &:after {
                background-color: palette(color-alpha,dark);
            }

            &,
            &:visited {
                color: palette(color-alpha,dark);
            }

            &:hover,
            &:focus {
                text-decoration: none;
                color: palette(color-alpha,dark);

                &:after {
                    display: none;
                }
            }
        }
    }

    .c-color--gamma & {
        a {
            &:after {
                background-color: palette(color-neutral,x-dark);
            }

            &,
            &:visited {
                color: palette(color-neutral,x-dark);
            }

            &:hover,
            &:focus {
                text-decoration: none;
                color: palette(color-neutral,x-dark);

                &:after {
                    display: none;
                }
            }
        }
    }
}

.c-images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
    z-index: -1;
}

    .c-images__item {
        display: none;

        @include mq(bp4) {
            display: block;
            width: 40%;
            position: absolute;
            z-index: -1;

            &:nth-child(odd) {
                right: -23%;
                top: -40%;
            }

            &:nth-child(even) {
                left: -23%;
                top: 45%;
            }
        }
    }

.c-editor--special {
    p {
        position: relative;
    }

    @include mq(bp4) {
        p {
            @include text-dimensions($ms3,1.5,6);
        }

        p:last-child {
            @include margin-bottom(3);
        }

        p:nth-child(even) {
            position: relative;
            left: 20%;
        }

        p:nth-child(odd) {
            position: relative;
            left: -20%;
        }
    }
}

.c-link {
    font-weight: 700;

    &,
    &:visited {
        color: palette(color-alpha);
    }

    &:hover,
    &:focus {
        text-decoration: none;
        color: palette(color-alpha,light);
    }

    .c-color--gamma & {
        &,
        &:visited {
            color: palette(color-neutral,x-dark);
        }

        &:hover,
        &:focus {
            text-decoration: none;
            color: palette(color-neutral,dark);
        }
    }
}

.c-link-alt {
    font-weight: 700;

    &,
    &:visited {
        color: palette(color-alpha);
    }

    &:hover,
    &:focus {
        text-decoration: none;
        color: palette(color-alpha,light);
    }

    .c-color--gamma & {
        &,
        &:visited {
            color: palette(color-neutral,x-dark);
        }

        &:hover,
        &:focus {
            text-decoration: none;
            color: palette(color-neutral,dark);
        }
    }
}

.c-link-beta {
    font-weight: $beta-font-weight;

    &,
    &:visited {
        color: palette(color-neutral,x-dark);
    }

    &:hover,
    &:focus {
        text-decoration: none;
        color: palette(color-neutral,x-dark);
    }
}

    .c-link__icon {
        display: inline-block;
        width: 1.2em;
        height: 1.2em;
        position: relative;
        top: -.15ex;
        stroke-width: 0;
        stroke: currentColor;
        fill: currentColor;
        vertical-align: middle;
    }

.c-link-logo {
    text-indent: -999999px;
    display: block;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    @include margin-tb(2,2);
}
